@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
   font-family: 'Bebas Neue';
}

.wrapper {
   background: url("/img/bgbg.jpg");
   max-width: 1440px;
   height: 769px;
   text-align: center;
   margin: auto;
}

h1 {
   font-size: 60px;
   line-height: 70.31px;
   color: #FFFFFF;
   padding-top: 317px;
}

.icon {
   width: 101.62px;
}

.top {
   padding-top: 41px;
   margin: auto;
}

.slogan {
   font-family: serif;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   padding-top: 21px;
}

.skroll-down {
   text-decoration: none;
   display: inline-block;
   margin-top: 221px;
   color: #FFFFFF;
   font-family: 'OpenSans';
   font-size: 11px;
   line-height: 13px;
}

.nav {
   /* max-width: 1440px; */
   margin: auto;
   position: relative;
   border-bottom: 1px #E6E6E6 solid;
   padding: 0 250px;


}

.nav__item {
   display: block;
   margin-top: 25px;
   text-decoration: none;
   color: #48555B;
   font-size: 12px;
   line-height: 14px;
   margin-left: 48px;
}

.blue {
   color: #00A4E5;

}

.i_header {
   position: absolute;
   padding-top: 24px;
   padding-bottom: 23px;
}

.clearfix {
   clear: both;
}

.nav__list {
   display: flex;
   float: right;
   padding-bottom: 24px;

}

.header {
   margin: auto;
   width: 1440px;
}

h2 {
   font-size: 18px;
   line-height: 21px;
   color: #48555B;
}

.our-story {
   padding-top: 57px;
   width: 941px;
   margin: auto;
   text-align: center;

}

.our-story__line {
   padding-bottom: 71px;
}

.our-story__line {}

.our-story__wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 118px;


}

.our-story_text {
   width: 405px;
   text-align: left;
}

.our-story_text.bold {
   padding-bottom: 30px;
}

.bold {
   color: #48555B;
   font-size: 25px;
   line-height: 23px;
}

.normal {
   color: #48555B;
   font-size: 13px;
   line-height: 23px;
}

.our-story__img {
   padding-left: 20px;
}

.our-story__photos_row {
   display: flex;
   flex-direction: row;
}

.our-cepabilities {
   max-width: 941px;
   margin: auto;
   padding-bottom: 115px;
}

.our-cepabilities__title {
   margin-right: 154px;
   display: inline-block;
   padding-right: 100px;
}

.our-cepabilities_text {
   max-width: 405px;
}


.our-cepabilities__button {
   padding: 11px 29px;
   background: #00A4E5;
   color: #FFFFFF;
   border: none;
}

.our-cepabilities__button:hover {
   background: #0096cd;
}

.our-cepabilities__list {
   display: flex;
   flex-direction: row;
   margin-top: 78px;
   justify-items: space-between;
}

.our-cepabilities__item {
   padding: 38px 23px;
   width: 295px;
   border: #E6E6E6 1px solid;
   margin-right: 28px;
}

.our-cepabilities__item .bold {
   padding-bottom: 13px;
   padding-top: 25px;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.our-cepabilities__item:last-child {
   margin-right: 0;
}

.get-in-touch {
   width: 1440px;
   height: 499px;
   background: url("/img/bgbg_down.jpg");
   text-align: center;
   margin: auto;
}

h3 {
   padding-top: 120px;
   width: 350px;
   font-size: 30px;
   line-height: 36px;
   color: #48555B;
   margin: auto;

}

.get-in-touch__btn {
   margin-top: 35px;

   padding: 11px 26px;
   background: #00A4E5;
   color: #FFFFFF;
   font-size: 13px;
   line-height: 15px;
   border: none;
}

.get-in-touch__btn:hover {
   background: #0096cd;
}

.signup {
   max-width: 1440px;
   padding: 30px 0px;
   display: flex;
   flex-direction: row;
   background: #171819;
   margin: auto;
}

.signup__text {
   color: #FFFFFF;
   font-size: 22px;
   line-height: 26px;
   margin-left: 378px;
   margin-right: 70px;
   padding-top: 10px;

}

.signup__input {
   padding: 11px 0px 10px 16px;
   width: 250px;

}

.signup__btn {
   padding: 10px 49.5px;
   color: #FFFFFF;
   border: none;
   background: #00A4E5;
}
.footer {
   width: 1440px;
   background: #141A20;
   margin: auto;
   padding: 42px 0px;
}
.footer__list a{
   text-decoration: none;
   color: #FFFFFF;
   display: inline-block;
}
.first {
   width: 250px;
   margin-right: 71px;
}
.second {
   width: 77px;
   margin-right: 34px;
}
.third {
   width: 52px;
   margin-right: 38px;
}
.fourth {
   width: 62px;
   margin-right: 58px;
}
.fifth {
   width: 130px;
   margin-right: 46px;
}
.sixth {
   display: flex;
   flex-direction: row;
   width: 90px;
   justify-content: space-between;
}
.footer__img {
   width: 12px;
   height: 12px;
}
.footer__lists{
   padding: 0px 249px;
   color: #FFFFFF;
   display: flex;flex-direction: row;
}
.footer__list li{
   margin-top: 15px;
}